{% extends 'index3.html.twig' %}

{% block events %}



    <table class="table table-bordered table-striped" cellspacing="0" id="tableac" border="2">
        <tr>
        <th>Nom Evenement</th>
        <th>Date</th>

        </tr>


        {% for q in query %}
        <tr>
            <td>
                <a class="btn btn-outline-secondary" href="{{ path('events_show', { 'id': q.event.id }) }}">{{ q.event.nomEvent}}</a>

            </td>
            <td>
                 {% if q.event.dateEvent %}{{ q.event.dateEvent|date('Y-m-d') }}{% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
    <a class="btn btn-info" href="{{ path('events_index') }}">Back to the list</a>
    <ul class="social-links">
        <li>{{ socialButtons( { 'facebook': {'locale':'fr_FR', 'send':true}} ) }}</li>
    </ul>

{% endblock %}
