{% extends 'index3.html.twig' %}

{% block events %}
    {##}







    {##}

    <body >
    <center>
    <h1>Events list</h1>

    </center>

    <script src="{{ asset('js2/jquery.min.js') }}"></script>
    <input type="text" id="search" placeholder="CHERCHER EVENT ...">
    <table class="table table-bordered table-striped" cellspacing="0" id="tableac" border="2">

        <thead>
            <tr>

                <th>Nomevent</th>



                <th>Place disponible</th>
                <th>More</th>
            </tr>
        </thead>
        <tbody>
        {% for event in events %}
            <tr>

                <td>{{ event.nomEvent }}</td>

                <td>{{ event.placeDispo }}</td>
                <td>


                            <a class="btn btn-info" href="{{ path('events_show', { 'id': event.id }) }}">show</a>



                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a class="btn btn-info" href="{{ path('even') }}">My Events</a>


    </body>

    <script>
        $(document).ready(function(){
            $('#search').keyup(function(){
                search_table($(this).val());
            });
            function search_table(value){
                $('#tableac tbody tr').each(function(){
                    var found = 'false';
                    $(this).each(function(){
                        if($(this).text().toLowerCase().indexOf(value.toLowerCase()) >= 0)
                        {
                            found = 'true';
                        }
                    });
                    if(found == 'true')
                    {
                        $(this).show();

                    }
                    else
                    {
                        $(this).hide();

                    }
                });
            }
        });
    </script>





{% endblock %}
